BINANCE_API_URL=https://testnet.binance.vision
BINANCE_API_KEY=yrQWaG7TVEnhu71Hy8uF362rl2x6RfMWKGkMAUSTrztBQQxs3dMHPcu26Vm5yvNQ
BINANCE_SECRET_KEY=kVsVWzv70HhAC5kcxFSVmhY5tcozSZB9b1TlVN4onxrI53qMfYiBd8rlTubBFu96
BOT_SYMBOL=BTCUSDT
BOT_QUANTITY=0.001
BOT_INTERVAL_MS=30000
BOT_TIMEFRAME=15m
BOT_SMA_SHORT_PERIOD=9
BOT_SMA_LONG_PERIOD=21
BOT_STOP_LOSS_PCT=1.5
BOT_TAKE_PROFIT_PCT=3
DRY_RUN=true
LOG_TO_FILE=true
FORCE_SIGNAL=NONE
FORCE_SIGNAL_ONCE=true
STATUS_PUBLISH_MODE=none
STATUS_PUBLIC_URL=
GITHUB_GIST_ID=
GITHUB_GIST_TOKEN=
GIST_FILENAME=latest-status.json
